body{
    background-color: #eee;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}

header, main, aside, footer {
    margin: 8px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    border-radius: 0.4rem;
    color: #000;
}

header{
    height: 80px;
}

header, footer{
    flex-basis: 100%;
}

main{
    flex: 8 1 40rem;
    height: 300px;
    
}

aside{
    flex: 2 1 20rem;
    height: 300px;
}