body {
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 10px;
}

img {
  width: 100px;
  height: 400px;
  object-fit: cover;
  transition: width 300ms;
  border-radius: 6px;
  box-shadow: 1px 1px 100px 1px #888888;
}

img:hover {
  width: 500px;
}
